header {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.884);
}
.logo {
  width: 10.5rem;
  height: 5rem;
}
#ancor {
  color: rgb(255, 0, 149);
  text-decoration: none;
  border: 1px solid rgb(255, 0, 149);
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.2rem;
  color: white;
}
#ancor:hover {
  background-color: white;
  color: black;
}
#boton {
  background-color: rgb(255, 0, 149);
}
main {
  min-height: 75vh;
  background-color: rgb(199, 104, 160);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.divh1 {
  height: 8rem;
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
h1 {
  color: black;
  background-color: rgb(199, 104, 160);
  border-radius: 160px;
  border: 1px solid rgb(211, 74, 154);
  padding: 1rem;
}
.formhome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 8rem;
  width: 100%;
  padding: 4rem;
}
.divform {
  display: flex;
  flex-wrap: wrap;
}
form {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
label {
  padding-right: 1rem;
}
#padrecards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#tarjetas {
  width: 20rem;
  height: 30rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 5px double rgb(255, 0, 149);
  color: white;
  background-color: black;
}
.divprice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#imgcard {
  width: 18rem;
  height: 15rem;
  border-radius: 15px;
  margin-top: 0.5rem;
  border: 5px double rgb(255, 0, 149);
}
h5 {
  text-align: center;
}
.divcontact {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formcontact {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 50rem;
  margin: 3rem;
}
.inplab {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}
.butoncont {
  width: 25rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem;
}
.divtabla {
  height: 50rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table,
thead,
tr,
th,
tbody,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(199, 104, 160);
}
table {
  width: 70%;
}
thead th {
  height: 3rem;
  font-size: 1.4rem;
  color: black;
  background-color: gray;
}
tbody td {
  width: 16rem;
  height: 1.4rem;
  background-color: white;
}
.padredetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 6rem 0 6rem 14rem;
}
#tarjetadetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 35rem;
  margin: 1rem;
  border: 5px double rgb(255, 0, 149);
  background-color: black;
}
#tarjetadetails2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 35rem;
  margin: 1rem;
  border: 5px double rgb(255, 0, 149);
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
#imgdetails {
  width: 28rem;
  height: 25rem;
  border: 5px double rgb(255, 0, 149);
}
footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}
.iconos svg {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
}
.pfooter {
  margin-right: 0.5rem;
}

@media (min-width: 375px) and (max-width: 767px) {
  #tarjeta {
    width: 100%;
    margin: 0;
  }
  #imgdetails {
    width: 14rem;
    height: 16rem;
  }
  #tarjetadetails {
    width: 16rem;
    height: 18rem;
    margin: 0;
  }
  #tarjetadetails2 {
    height: 29rem;
    font-size: 1rem;
  }
  .padredetails {
    margin: 3rem;
  }
}
@media (min-width: 375px) and (max-width: 465px) {
  .divcontact {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formcontact {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 50rem;
    margin: 3rem;
  }
  .inplab {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
  }
  .butoncont {
    width: 15rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.4rem;
  }
}
