header {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.884);
}
.logo {
  width: 10rem;
  height: 4.5rem;
}
#ancor {
  color: rgb(255, 0, 149);
  text-decoration: none;
  border: 1px solid rgb(255, 0, 149);
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.2rem;
  color: white;
}
#ancor:hover {
  background-color: white;
  color: black;
}
#boton {
  background-color: rgb(255, 0, 149);
}
main {
  min-height: 75vh;
  background-color: rgb(252, 48, 167);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.divh1 {
  height: 20rem;
  width: 100%;
  background-image: url(../imagenes/fondo\ home.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}
.h1tittle {
  color: black;
  font-size: 4rem;
  border-radius: 160px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.418);
}
.formhome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 8rem;
  width: 100%;
  padding: 4rem;
}
.divform {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(236, 8, 141);
  padding: 0.5rem;
  color: black;
  border-radius: 15px;
}
form {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
label {
  padding-right: 1rem;
}
#padrecards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#tarjetas {
  width: 20rem;
  height: 32rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 5px double rgb(255, 0, 149);
  color: white;
  background-color: black;
}
.divprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.textprice {
  padding-top: 0.8rem;
}
.divimgcards {
  margin: 0.7rem 0.7rem 0 0.7rem;
}
#imgcard {
  width: 18rem;
  height: 15rem;
  border-radius: 15px;
  border: 2px solid rgb(255, 0, 149);
}
#bodycard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h5 {
  text-align: center;
}
#detailsbutton {
  background-color: rgb(255, 0, 149);
  color: black;
  border: 1px solid white;
}
#detailsbutton:hover {
  background-color: rgba(255, 255, 255, 0.856);
}
.divcontact {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formcontact {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 50rem;
  margin: 3rem;
}
.inplab {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
}
.butoncont {
  width: 25rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem;
}
.divtabla {
  height: 50rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table,
thead,
tr,
th,
tbody,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(199, 104, 160);
}
table {
  width: 80%;
}
thead th {
  height: 3.1rem;
  font-size: 1.4rem;
  color: black;
  background-color: gray;
}
tbody td {
  width: 16rem;
  height: 1.4rem;
  background-color: white;
}

#details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border: 5px double rgb(255, 0, 149);
  width: 55rem;
  height: 32rem;
  margin: 5rem 0 5rem 15rem;

  /* margin: 6rem 0 6rem 14rem; */
}
#tarjetadetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
  margin: 1rem;
  background-color: black;
}
#tarjetadetails2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
  margin: 1rem;
  border: 2px solid rgb(255, 0, 149);
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
#imgdetails {
  width: 22rem;
  height: 20rem;
  border: 2px solid rgb(255, 0, 149);
}
footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}
.iconos svg {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
}
.pfooter {
  margin-right: 0.5rem;
}
.diverror {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(../imagenes/no-result-found-1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35rem;
  height: 30rem;
  border-radius: 16px;
  margin-bottom: 5rem;
  border: 1px solid rebeccapurple;
}
.ancorerror {
  text-decoration: none;
  font-size: 0.8rem;
  background-color: rgb(255, 0, 149);
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}
.ancorerror:hover {
  background-color: white;
  color: black;
}

@media (min-width: 375px) and (max-width: 767px) {
  #tarjeta {
    width: 100%;
    margin: 0;
  }
  #details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 50rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #imgdetails {
    width: 16rem;
    height: 16rem;
    margin: 0;
  }
  #tarjetadetails {
    width: 17rem;
    height: 18rem;
    margin: 0;
  }
  #tarjetadetails2 {
    width: 18rem;
    height: auto;
    font-size: 1rem;
    margin: 0;
  }

  .formhome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .diverror {
    width: 23rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .ancorerror {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 375px) and (max-width: 465px) {
  .divcontact {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formcontact {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 50rem;
    margin: 3rem;
  }
  .inplab {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
  }
  .butoncont {
    width: 15rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.4rem;
  }
}
